html, body {
    max-width: 100%;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
a{
    text-decoration: none;
    
}

header {
    background-color: #333;
    color: #fff;
    padding-top :1% ;
    padding-bottom: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:solid darkorchid 5px  ;
}

.logo{
    
    display: contents;
}
.logo img{
    margin-left: 3%;
    border-radius: 50%;
    width: 5%;
    
}
nav{
 
    width: 70%;
}

nav ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    margin-left: 25%;
   
   
}

nav ul li {
    display: inline-block;
    padding-left: 5%;
    
   
    
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 130%;
  
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

.intro{
    background:rgb(48, 2, 68);
    display: flex;
    justify-content: space-between;
    height: 70%;
    position: relative;
    background-size: cover; 
    padding: 20px;
    font-size: 5%;
    
    text-align: center;
    color: bisque;   
    width: auto;
    
    border-top: solid rebeccapurple 1%;;
}


.button1{
    background: transparent;
    position: absolute;
    border: none;
    height: 99%;
    width: 50%;
    z-index: 1;
  
}
.button2{
    margin-left: 50%;
    background: transparent;
    position: absolute;
    border: none;
    height: 99%;
    width: 50%;
    z-index: 1;
  
    }
.slideshow{
    width: 100%;
    height: 70%;
    align-content: center;
    
}
.slides{
    align-content: center;
    margin-left: 5%;
    height: 70%;
    width: 90%;
    
}
.mySlides{
    object-fit: cover;
}


.imageText{
    position: absolute;
    top: 40%;
    width: 100%;
    right: 3%;
    text-align: center;
   color: white;
    font-size: 8vh;
  }
  
  img { 
 height: 100%;
border: solid orange 2px;
 width: 100%;
    opacity: 1;
  }


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    padding: 0;
}
.content{
    
   
    max-width: 100%;
    background: whitesmoke ;
    background-size: cover; 
    padding: 5% 5%;
    margin: none;
    background: whitesmoke url('pic/skill.png') no-repeat ;
    background-size:cover; 

}
.aboutMe{

   /* background:  url('pic/me.jpg') no-repeat ;
    background-size: cover;
    */
    padding-top: 5% ;
    width: 100%;
    min-height: 30%;
    height: fit-content;
    align-content: center;
   
    border-radius: 3%;
    
}
#aboutHeading{
    
    font-size: 4vw;
    font-style: bold;
    text-align: center;
    color: #333333;
   align-self: center;
}
.aboutMe div{
    width: 90%;
    font-size: 2w;
    line-height: 2;
 margin-left: 5%;
    margin-bottom: 10%;
    color: #F0F0F0;
    text-align: center;
    align-content: center;
  
}


#heading{
    padding-top: 10%;
    font-size: 4vw;
    font-style: bold;
    text-align: center;
    color: #333333;
   align-self: center;
}



.projects {
   
    display:block;   
    font-size: 2vw;
   width: 100%;
   height: auto;
    padding: 0% ;
    margin-bottom: 10%;
    
    
}



.projectButton{
    background: transparent;
    color: black;
   
    }

.projects ul{
    display: flex;
   
    
}

.projectitems a{
    padding: 0;
    color: white;
    position: relative;
}
.projectitems a p{
 text-decoration: none;
 position: absolute;
 top :5%;
}

.projectitems a img{
    width: 100%;
    height: 80%;
 align-self: center;
    
    border:solid green 0.5vw;
}
.projectitems{
    max-height: 40%;
    max-width: 25%;
    min-height: 40%;
    min-width: 25%;
   align-content: center;
    display: inline;
   font-size:auto;
   color: #F0F0F0;

    margin:0vw 2.5vw;
    
   
   
}

#skillHeading{
    font-size: 5vw;
    font-style: bold;
    text-align: center;
    color: rgb(21, 8, 8);
   align-self: center; 
}


.skills {
    display: block;
    font-size: 3vw;
    gap: 10px;
  
   
}

.skillContent{
    display: grid;
    padding: 10%;
    grid-template-columns: auto auto auto ;
    padding: 10%;
}
.skillItems{
    width: fit-content;
    
    color: white;
   
 
    margin: 10% ;
   
}










@media (max-width: 1000px) {




    
    nav ul {
        list-style-type: none;
        margin:0;
        padding: 0;
       
       
    }
    

    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 2.5vw;
      
    }

    

  
    
  
    .imageText{
        right: 3%;
        font-size: 4.5vw;
      }
      
    
    #aboutHeading{
        font-size: 5vw;
    }

    .aboutMe div{
        font-size: 2.5vw;
        margin-bottom: 10%;
        color: #F0F0F0;
      
    }
#heading{
    font-size: 6vw;
}

    
    
    .projects ul{
        display: flex;
        left: 5%;
        width: 95%;
        padding: 0%;
        margin: 0%;
       
        
    }
    


    .projectitems{

       font-size:2vw;    
    }
    

    #skillHeading{
        font-size: 6vw;
  
    }
    
    
    .skills {
        display: block;
        font-size: 3vw;
        gap: 10px;
      
       
    }

}    
